<div class="container">
  <header class="header">
    <router-outlet class="logo">GoalSetter</router-outlet>
    <ul>
        <!-- <li>
            <button class='btn'>
                <fa-icon [icon]="faSignOutAlt" class="svg"></fa-icon> Logout
            </button>
        </li> -->

        <li>
            <router-outlet routerLink="/login" class="a">
                <fa-icon [icon]="faSignInAlt" class="svg"></fa-icon> Login
            </router-outlet>
        </li>
        <li>
            <router-outlet routerLink="/register" class="a">
                <fa-icon [icon]="faUserAlt" class="svg"></fa-icon> Register
            </router-outlet>
        </li>
    </ul>
  </header>

  <section>
    <h1>
      Login
    </h1>
    <p *ngIf="errormsg">{{errormsg}}</p>
    <p>{{title}}</p>
  </section>

  <form [formGroup]="userForm" (ngSubmit)="userLogin()" >
    <div class='form-group'>
      <input type="text" class='form-control' formControlName="name" id='name'  placeholder='Please enter your name'
      />
    </div>

    <div class='form-group'>
      <input type="text" class='form-control' formControlName="password" id='password'  placeholder='Please enter your password'
      />
    </div>

    <div class='form-group'>
      <button type='submit' class='btn btn-block'>Submit</button>
    </div>
  </form>
</div>